<div class="container">
  <div class="title">Which Harry Potter Book Is This Passage From?</div>
  <div class="prompt">
    {{ currentPassage }}
  </div>

  <div class="options">
    @for (button of buttons; track button.name){ 
      <button class="option-button" (click)="onClick(button.id)">{{ button.name }}</button>
    }
  </div>

  <div class="correction">{{ correctionMsg }}</div>
  
  <div class="score">
    <div>Current Score: {{ currentScore }}</div>
    <div>High Score: {{ highScore }}</div>
  </div>

</div>
